# This is a likely default, change accordingly if your system setup is different
DATABASE_URL=postgresql://localhost:5432/notify_test?encoding=unicode&pool=5
SECRET_KEY_BASE=justafakekeyfordevelopmentpurposes

ACCOUNT_SID='TEST TWILIO SID'
AUTH_TOKEN='TEST TWILIO AUTH_TOKEN'
SMS_FROM='+15005550006' # Twilio's magic 'from' number
