<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Receive weekly text message reminders for Herbie pickup</h1>
        <p>
          We're testing out SMS text alerts for regularly scheduled waste collection.
        </p>
      </div>
      <div class="col-md-4">
        <form method="post" action="<%= citizens_path %>" role="form" 
          id="citizenForm">
          <div class="form-group">
            <label for="address">Street Address</label>
            <div class="input-group">
              <input type="text" class="form-control input-lg" id="address"
                name="citizen[address][street]"
                value="<%= @citizen.submitted_street %>"
                placeholder="150 Main Street" required>
              <span class="input-group-addon input-lg">Lexington, KY</span>
            </div>
          </div>
          <div class="form-group">
            <label for="address_phone">Mobile Number</label>
            <input type="text" class="form-control input-lg" id="address_phone"
                name="citizen[address][mobile_number]"
                value="<%= @citizen.phone_number %>"
                placeholder="555-555-5555" required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control input-lg" id="email"
              name="citizen[email]"
              value="<%= @citizen.email %>"
              placeholder="chad@example.com" required>
          </div>    
          <input type="hidden" id="pickup" name="citizen[address][pickup]">
          <input type="hidden" id="lat" name="citizen[address][lat]">
          <input type="hidden" id="lon" name="citizen[address][lon]">
          <div id="day"></div>
          <div id="coords"></div>
          <button class="btn btn-primary btn-lg btn-block" id="">Submit</button>
        </form>
      </div>  
    </div>
  </div>
</div>
