<div class="jumbotron">
	<div class="container">
		<h1>Receive text notifications for waste collection pickup</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h2>Schedule Changes</h2>
			<p>
				Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
			</p>
			<p>
				<button type="button" class="btn btn-warning">Get Started</button>
			</p>
		</div>
		<div class="col-lg-4">
			<h2>Missed Pickup</h2>
			<p>
				Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
			</p>
			<p>
				<button type="button" class="btn btn-warning">Get Started</button>
			</p>
		</div>
		<div class="col-lg-4">
			<h2>Reschedule Pickup</h2>
			<p>
				Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
			</p>
			<p>
				<button type="button" class="btn btn-warning">Get Started</button>
			</p>
		</div>
	</div>
</div>

