<div class="container">
  <div id="map"></div>
  <h1>Let's send a text!</h1>
  <div class="row">
    <form method="post" action="<%= notifications_path %>" role="form">
    <div class="col-md-6">
      <div class="form-group">
        <table class="table table-bordered table-hover js-addresses" >
          <tr>
            <th>Phone #</th>
            <th>Address</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="sms_message">Message:</label>
        <textarea class="form-control" id="sms_message" name="message" cols="40"
          rows="4" maxlength="160"><%= params[:message] %></textarea>
        <div id="sms_feedback"></div>

      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</div>
