<div id="address">
  <h1>What"s your trash day?<h1>
  <form id="geocode">
    <fieldset>
      <legend>Enter your adddress:</legend>
      <input type="text" id="formValueId" name="valueId" value="332 Blackburn Ave, Lexington, KY 40508"/>
      <input type="submit" id="theButton" value="Click here!" />
    </fieldset>
  </form>
</div>
<div id="day"></div>
<div id="coords"></div>
